*{
  font-family: 'Varela Round', sans-serif;
  
  
}
/* .App {
  text-align: center;
  min-height: 100vh !important;
  overflow-y: hidden;
  height: -webkit-fill-available;
} */

::-webkit-scrollbar {
  width: 0px;
}

.FloatingActionButtonZoom-root-142{
  height: '100%';
  overflow: hidden;
  display: block;
}

.MuiBadge-anchorOriginBottomRightRectangle.MuiBadge-invisible {
 transform:none;
}

.MuiBadge-anchorOriginBottomRightRectangle.MuiBadge-invisible {
  transform: none;
}


