*{
  font-family: 'Varela Round' !important;
  
}
 .App {
  text-align: center;
  
  min-height: -webkit-fill-available;
  height: 100% !important; 
  
  
} 

::-webkit-scrollbar {
  width:0;
  
}

.FloatingActionButtonZoom-root-142{
  height: '100%';
  overflow: hidden;
  display: block;
  
}

.MuiBadge-anchorOriginBottomRightRectangle.MuiBadge-invisible {
 transform:none;
}

.MuiBadge-anchorOriginBottomRightRectangle.MuiBadge-invisible {
  transform: none;
}


